fastapi # Основной бек
pystray # Трей
pyinstaller
customtkinter
packaging
python-multipart
aiofiles
requests

# Веб сервер
uvicorn
uvicorn[standard]

pillow # Для курсора
mss # Захват экрана
pyautogui # Взаимодействие с системой
psutil # Взаимодействие с системой