fastapi # Основной бек
pystray # Трей
pyinstaller
nuitka
customtkinter
packaging
python-multipart
aiofiles
requests
qrcode
zeroconf

# Веб сервер
uvicorn
uvicorn[standard]

pillow # Для курсора
mss # Захват экрана
pyautogui # Взаимодействие с системой
pynput # Linux/X11 ввод
evdev # Linux/Wayland ввод (uinput)
psutil # Взаимодействие с системой
