fastapi # Основной бек
pystray # Трей
pyinstaller
nuitka
customtkinter
packaging
python-multipart
aiofiles
requests
qrcode
zeroconf

# Веб сервер
uvicorn
uvicorn[standard]

pillow # Для курсора
mss # Захват экрана
pyautogui # Взаимодействие с системой
psutil # Взаимодействие с системой
