fastapi
pystray
customtkinter
packaging
python-multipart
aiofiles
requests
qrcode
zeroconf
uvicorn[standard]
pillow
mss
psutil
soundcard; platform_system == "Windows"
pycaw; platform_system == "Windows"
comtypes; platform_system == "Windows"
